@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e9d5ff;  // Purple background for the entire page
}